<section fxLayout="column" fxFlexAlign="stretch">
  <div fxFlexAlign="center">
    <p>Sri Sai Ram Travels</p>
  </div>

  <div fxFlexAlign="left">
      <p>Approved by Govt. of India Ministry of Labour Reg.No.B-0107/MUM/PER/1000+/5/6219/2003 Operator based in Mumbai and have our strong presence in 4 states in India (Mumbai, Hyderabad, Chennai, Vizag,Tirupathi)</p>
    </div>
  
  
  <mat-card fxFlexAlign="left"><p> Our services include assisting you with Kuwait visa Stamping and Medical screening from Mumbai,Hydrebad,Chennai,Bangalore & Kochin.We have been in this industry for over 20 years and have successfully processed over 100,000 applications with exceptional track record and impeccable customer experience.You can place your trust in us and we will ensure that you will get highest level of services.</p></mat-card>
 
  <mat-tab-group (selectedTabChange)="executeSelectedChange($event)">
    <mat-tab label="Kuwait Embassy Visa Stamping"> 
      <p>
          Kuwait visa is a permission from the Kuwait government to enter Kuwait for individual’s personal needs. Visa stamping is the act in which visa is endorsed in the passport. Kuwait visa stamping is an important procedure which should be done after getting a Kuwait visa and this is one of the necessary process people should do when they are travelling on a work visa to Kuwait
      </p> 
    </mat-tab>
    <mat-tab label="GAMCA (GCC)">
       <p>Medical Services for applicants traveling to GCC like Kuwait,Oman,Saudi etc on Employment/Family visa.</p>
      </mat-tab>
    <mat-tab label="Fully responsive navigation menu">
       <p>By using material components, we are going to create fully responsive navigation menu, with its side-bar as well.</p>
      </mat-tab>
  </mat-tab-group>
</section>