
  
<div class="col-md-12 col-xs-12 side-bar">

<nav class="navbar navbar-light bg-light">
    <div class="container mob">
        <img src="..\assets\img\originial-namemob.png" class="visible-xs pull-left">
          <a class="main-navbar-header burger-icon" href="#">
          <button type="button" class="navbar-toggle x collapsed" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar top-bar"></span>
            <span class="icon-bar middle-bar"></span>
            <span class="icon-bar bottom-bar"></span> 
          </button>
          <img src="..\assets\img\originial-name - Copy.png" class="padding-all padding-bottom-zero hidden-xs pull-left">

        </a>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active"> <a  routerLink="/customerList">List</a></li>
      <li> <a routerLink="/create">Create</a></li>
            <li><a routerLink="/agent">Add Agent</a></li>
            
            <li><a routerLink="/logout">LogOut</a></li>
            
          </ul>				      
        </div>
      </div>

</nav>
</div>
<div class="container-fluid"></div>
<script type="text/javascript">
	$(function(){ 
     var navMain = $(".navbar-collapse"); // avoid dependency on #id
     // "a:not([data-toggle])" - to avoid issues caused
     // when you have dropdown inside navbar
     navMain.on("click", "a:not([data-toggle])", null, function () {
         navMain.collapse('hide');
     });
 });
</script>